
{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Logout to reset password </p>
    {% else %}

        {% if error_message %}
            {{ error_message }}
        {% endif %}

        {% if form.email.errors %}
            <p>{{ form.email.errors }}</p>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            <p>Enter the email you registered with your account</p>
            <p>{{ form.email.label_tag }} {{ form.email }}</p>
            <input type="submit" value="Reset Password">
        </form>
    {% endif %}
{% endblock %}
