
{% extends 'base.html' %}

{% block content %}

    <h3 style="text-align: center;">REGISTER PAGE</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form method="post" action="index">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" autofocus maxlength="150" name="username" required id="id_username">
        </p>
        {{ form.label_tag }} {{ form.as_p }}
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" required id="id_password">
        </p>
        <input type="submit" value="Register">
    </form>

{% endblock %}
