
{% extends 'base.html' %}

{% block post %}

    <header>
        <h1>Posts</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'blog:post' %}">New Post</a>
        {% endif %}
    </header>

{% endblock %}


{% block content %}
    {% for post in object_list %}
    <article class="post">
        <div>
            <h1><a href="{% url 'blog:detail' post.id %}"> {{post.title}} </a></h1>
        </div>

        <p class="body"> {{post.body}} </p>
    </article>
    {% endfor %}
{% endblock %}
