
{% extends 'base.html' %}

{% block style %}
<style>
    a {
        color: blue;
        text-decoration: none;
    }
    .link-space {
        padding-right: 20px;
    }
</style>
{% endblock %}

{% block post %}

    <header>
        <h1>Posts</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'blog:post' %}">New Post</a>
        {% endif %}
    </header>

{% endblock %}


{% block content %}
    {% for post in object_list %}
    <article class="post">
        <div>
            <h1><a href="{% url 'blog:detail' post.id %}"> {{post.title}} </a></h1>
        </div>

        <p class="body"> {{post.body}} </p>
    </article>
    {% endfor %}


    {% if is_paginated %}
    <nav>
        {% if page_obj.has_previous %}
            <span class="link-space">
                <a href="/?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </span>
        {% endif %}

        {% for number in  paginator.page_range %}
            {% if page_obj.number == number %}
                <span class="link-space"">
                    {{ number|safe }}
                </span>
            {% else %}
                {% if page_obj.number > number|add:"-5" and page_obj.number < number|add:"3" %}
                    <span class="link-space"">
                        <a href="/?page={{ number }}">{{ number }}</a>
                    </span>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <span class="link-space"">
                <a href="/?page={{ page_obj.next_page_number }}">&raquo;</a>
            </span>
        {% endif %}
    </nav>
    {% endif %}

{% endblock %}
